@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.margin_right{
  margin-right: 50px
}

.common{
  font-size: 16px;
  width: 225px;
  box-sizing: border-box;
}

/* float */
.float_text {
  float: left;
}


/* table */
.table {
  display: table;
}

.table_cell {
  display: table-cell;
}

.vertical{
  vertical-align: middle;
}


/* inlineblock */
.first_font_size {
  font-size: 0;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

/* flex */
.flex{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

/* inline-block,・margin, padding */
.second_font_size {
  font-size: 0;
}

.inline_block_font_size {
  font-size: 16px;
}

.fixing {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  box-sizing: border-box;
}

.variable {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

/* 回答はここに書いてね */
