@charset "UTF-8";

/* 回答はここに書いてね */
.text{
  position: relative;
  padding: 20px;
  font-size: 16px;
  background: #FFF;
  border: solid 5px #222;
  border-radius:30px;
  line-height:16px;
  width:500px;
  margin:auto;
}
.text:before{
  content: "";
  position: absolute;
  bottom: -56px;
  left: 15%;
  border: 40px solid transparent;
  border-top: 16px solid #FFF;
  z-index: 2;
}

.text:after{
  content: "";
  position: absolute;
  bottom: -63px;
  left: 14.5%;
  border: 42px solid transparent;
  border-top: 16px solid #222;
  z-index: 1;
}
/* 回答はここに書いてね */
