@charset "UTF-8";

/* 回答はここに書いてね */

.table_box {
  width: 100%;
  table-layout: fixed;
}

.th {
  background-color: #24a;
  color: #fff;
  padding: 10px;
  border: 1px solid #dedede;
  line-height: 26px;
  font-size: 18px;
}

.td {
  line-height: 22px;
  text-align: center;
  border: 1px solid #dedede;
}

.tr:nth-child(odd) {
  background-color: #ecf1f2;
}

.tr:last-child {
  border-top: 2px dashed #000;
}

/* 回答はここに書いてね */
